HTML CSSResult Skip Results Iframe
EDIT ON
* {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;                         
    width: 100%;                          
}
.grid-item {
    background-image: url('https://i.pinimg.com/originals/40/53/46/40534621bd31eabcbe0800aa63ba9981.jpg')}

{background-size: cover;
background-position: center;}

    .item1 { background-color: #800000; }
.item2 { background-color: #A52A2A; } 
.item3 { background-color: #DC143C; } 
.item4 { background-color: #FF6347; }
.item5 { background-color: #CD5C5C; } 
.item6 { background-color: #FF8C00; } 
.item7 { background-color: #F0E68C; } 
.item8 { background-color: #E0FFFF; }
.item9 { background-color: #FFB6C1; }
.item10{background-color: antiquewhite;}
.item11 { background-color: #800000; } 
.item12 { background-color: #A52A2A; } 
.item13 { background-color: #DC143C; } 
.item14 { background-color: #FF6347; }
.item15 { background-color: #CD5C5C; } 
.item16 { background-color: #FF8C00; } 
.item17 { background-color: #F0E68C; } 
.item18 { background-color: #E0FFFF; }
.item19 { background-color: #FFB6C1; }
.item20{background-color: antiquewhite;}